{role, '{{fyler_role}}' }.
{category, '{{fyler_category}}' }.
{server_name, '{{ fyler_server_name }}' }.
{storage_dir, "{{ fyler_storage_dir}}" }.
{http_port,{{ fyler_http_port}} }.
{aws_s3_bucket, {{fyler_aws_bucket}} }. 
{aws_dir, "{{ fyler_aws_dir}}" }.
{auth_pass, "{{ fyler_api_pass }}" }. 
{auth_login,"{{ fyler_api_login }}"}.
{cpu_high_watermark, {{ fyler_cpu_high_wm }}}.
{cpu_check_timeout, {{ fyler_cpu_check }}}.

{pg_host,"{{ app_db_host }}" }.
{pg_db,"{{ pg_db }}"}.
{pg_user,"{{ app_db_user }}"}.
{pg_pass,"{{ app_db_pass_plain }}"}.
{pg_pool_size, 5}.
{pg_max_overflow, 10}.
{video, #{instances => [ {{ fyler_video_instances }} ]}}.
{document, #{instances => [ {{ fyler_doc_instances }} ]}}.